@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Poppins:wght@500;600;900&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-image: linear-gradient(116deg, #FF3A3A -15.11%, #AE249A 51.46%, #081EA9 113.99%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow-x: hidden;
  /* NAVIGATION */
  /* END OF NAVIGATION */
  /* Hero */
  /* End of Hero */
}
body img {
  max-width: 100%;
}
body a {
  text-decoration: none;
}
body ul {
  list-style-type: none;
  padding: 0;
}
body :is(h1, p) {
  margin: 0;
}
body .container {
  max-width: 90%;
  margin: 0 auto;
}
body .row {
  display: flex;
}
body::after {
  position: absolute;
  right: -20%;
  bottom: -50%;
  bottom: 0;
  content: "";
  background-image: url("../Assests/icons8-canvas-student.svg");
  background-repeat: no-repeat;
  min-height: 300px;
  background-size: cover;
  z-index: -3;
  width: 600px;
  filter: blur(2px);
}
body header {
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}
body header a {
  position: relative;
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
  transition: 0.3s ease-in-out;
}
body header .logo {
  width: 5rem;
}
body header .navigation {
  flex-grow: 1;
  align-items: center;
  justify-content: space-around;
}
body header ul {
  gap: 2em;
}
body header nav a {
  text-transform: capitalize;
}
body header nav a:hover::before {
  transform: scale(1, 1) rotate(0);
}
body header .primary-list {
  margin: 0 auto;
}
body header .primary-list a::before {
  position: absolute;
  top: -30px;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../Assests/icons8-ryanair.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: scale(1, 0) rotate(360deg);
  transition: transform 0.3s ease-in-out;
}
body header .secondary-list {
  margin-left: 0;
}
body header .secondary-list a {
  font-weight: 600;
  font-size: 18px;
}
body header .secondary-list li {
  background-color: #081EA9;
  padding: 0.3em 2em;
  border-radius: 30px;
}
body header .secondary-list li:nth-of-type(2) {
  background-color: #FFC041;
  padding: 0.3em 1em;
}
body header .secondary-list li:nth-of-type(2) a {
  color: #000000;
}
body .hero {
  align-items: center;
}
body .hero > * {
  flex-basis: 100%;
}
body .hero .content {
  max-width: 600px;
  z-index: 1;
}
body .hero .content h1 {
  font-weight: 900;
  font-size: clamp(40px, 6vw, 100px);
  color: #FFFFFF;
  text-transform: uppercase;
  line-height: 1;
}
body .hero .content p, body .hero .content a {
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
  padding-top: 2em;
}
body .hero .content a {
  align-items: center;
  gap: 1em;
}
body .hero .content a:hover i {
  color: #081EA9;
  transform: rotate(-45deg);
}
body .hero .content i {
  font-size: 2em;
}
body .hero .img {
  position: relative;
}
body .hero .img span {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  width: 75%;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.6);
  filter: blur(5px);
  border-radius: 50%;
}

/* Media */
@media screen and (max-width: 1000px) {
  .toggleMenu {
    position: absolute;
    right: 50px;
    background-image: url("../Assests/bars-solid.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    width: 30px;
    height: 30px;
    padding: 2em;
    z-index: 1000;
  }
  .toggleMenu.active {
    position: fixed;
    background-image: url("../Assests/icons8-close.svg");
    background-size: 25px;
  }
  .navigation {
    justify-content: center;
    flex-direction: column;
    transform: scale(1, 0);
    transform-origin: top;
    max-height: 0;
    opacity: 0;
  }
  .navigation ul {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .navigation.active {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transform: scale(1, 1);
    max-height: 100%;
    opacity: 1;
    z-index: 999;
    background-color: #FFC041;
    justify-content: center;
  }
  .navigation .secondary-list {
    margin-top: 2em;
  }
  body .hero {
    flex-wrap: wrap-reverse;
    gap: 2em;
    padding: 2em 0;
  }
  body .hero .img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body .hero .img span {
    width: 50%;
    height: 50px;
    bottom: 0;
  }
}
/* End of Media *//*# sourceMappingURL=style.css.map */